<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'parent.html' %}
    {% block content %}
        {% load static %}
        <h2>Movie Pics</h2>
        {% for pic in movie_pics %}
            <div>
                <img height="250" width="300" src="{{ pic.photo.url }}" alt="{{pic.movie_name}}">
                <label >{{pic.movie_name}}</label>
            </div>
        {% endfor %}
    {% endblock content %}
</body>
</html>